body {
    background-color: #51230C;
}

h1 {
    color:antiquewhite;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
    text-align: right;
}

h3 {
    color: antiquewhite;
}

h4 {
    color: antiquewhite;
}