body {
    background-color: #51230C;
}

header{
    text-align: center;
    padding-top: 30px;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
}

h1 {
    color:antiquewhite;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
    text-align: right;
}

h3 {
    color: antiquewhite;
}

h4 {
    color: antiquewhite;
}