body {
    background-color: #51230C;
}

h1 {
    color:antiquewhite;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: antiquewhite;
}

h2, h3, h4 {
    color: antiquewhite;
    text-align: left;
}

header{
    text-align: center;
    padding-top: 30px;
}

nav a {
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    background:#6060ba;
    border: 2px solid #6060ba;
}

nav a:hover {
    color:antiquewhite;
    background-color: #6060ba;
}

#valittu {
    color: #6060ba;
    background-color: antiquewhite;
}